---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="NYCC Emergency Care">
  <main>
    <h1>NYCC Emergency Care</h1>
    <section>
      <p>One leader takes charge of the victim</p>

      <h2>Others</h2>
      <ul>
        <li>Direct traffic around the site.</li>
        <li>Get all cyclists of the road.</li>
        <li>
          Call <a href="tel:911">911</a> or flag down car.
          <em
            >Write down what happened — it’s easy to forget the details: time of
            accident, victim’s reactions.</em
          >
        </li>
      </ul>
    </section>
    <section>
      <ol>
        <li>
          <h3>
            Secure victim’s head and neck and try NOT to move the victim at all
          </h3>
          <ul>
            <li>Never take the victim’s helmet off.</li>
            <li>Don’t move victim if at all possible.</li>
            <li>No food or water.</li>
          </ul>
        </li>
        <li>
          <h3>ABCs <em>(Airways, Breathing, Circulation)</em></h3>
          <p>
            Once the neck and head are stabilized, check the victim’s <strong
              >Airways</strong
            >
            and <strong>Breathing</strong> — Are they breathing and talking? If not,
            you may need to perform. CPR to revive them. <strong
              >Circulation</strong
            > - Are they bleeding? Gently feel the limbs for signs of wetness and
            blood.
          </p>
        </li>
        <li>
          <h3>Communicate</h3>
          <p>
            Ask questions to determine the mental status, to see if it’s been
            altered by the injury. Tell them <strong>NOT</strong> to nod their head
            but to respond in words or with their hands.
            <ul>
              <li>
                Does your neck or head hurt? <em
                  >(If yes, don’t do anything more.)</em
                >
              </li>
              <li>Did you black out?</li>
              <li>Do you hurt anywhere?</li>
              <li>Do you know what happened?</li>
              <li>What day is it?</li>
              <li>Who is the president?</li>
            </ul>
            <p>
              Write the responses down, and tell the emergency personnel. Record
              whether the victim:
            </p>
            <ul>
              <li>
                Has change in mental status — loss of consciousness, confusion,
                irritability, amnesia, throws up, other reactions.
              </li>
            </ul>
          </p>
        </li>
      </ol>
    </section>

  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
